body{
  background-color: black;
}
.sidebar{
  display:flex;
  flex-direction:column;
  gap: 20px;
  margin-top: 25vh;
  field-sizing: 50ox;
}
.sidebar img{
  width: 30px;
  border-radius: 15px;
  cursor: pointer;
}
section{
  margin-left: 40vh;
  display: flex;
  flex-direction: row;
}

input{
  border-radius: 50vh;
  width:50vh;
  height:40px;
}

.upload{
 width: 40px;
  border-radius:50vh;
}
button{
  border-radius: 50vh;
  object-fit: cover;
  background-color: black;
}
.upper{
  color: white;
  font-weight: bold;
}
/* 1. Default Styles (Mobile First) */
.content-box {
  width: 100%;
}

/* 2. Tablet Styles */
@media (min-width: 768px) {
  .content-box {
    width: 50%; /* Two columns */
  }
}

/* 3. Desktop Styles */
@media (min-width: 1024px) {
  .content-box {
    width: 33.33%; /* Three columns */
  }
}
